<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aster (set parameters) DIC</key>
	<dict>
		<key>stiffness</key>
		<string>stiffness of links between the Solid and the Fiber. stiffness[0] is the link between the central point of the Solid and the focus-end of the Fiberstiffness[1] is the link between a secondary point of the Solid and an intermediate point of the Fiber. This holds the Fiber in direction.</string>
		<key>focus</key>
		<string>designates which end of the fiber is towards the center</string>
		<key>fiber_rate</key>
		<string>rate at which a new fiber is created at an unoccupied site (known as nucleate)</string>
		<key>fiber_type</key>
		<string>name of Fiber that make up the Aster (know as nucleate[1])</string>
		<key>fiber_spec</key>
		<string>specifications for initial fibers (also known as nucleate[2])</string>
	</dict>
</dict>
</plist>
