<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chewer (set parameters) DIC</key>
	<dict>
		<key>chewing_speed</key>
		<string>length of Fiber eaten per unit time, once engaged with an end.</string>
		<key>diffusion</key>
		<string>unidimensional diffusion coefficient while bound to the Fiber</string>
	</dict>
</dict>
</plist>
