<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>motor (set parameters) DIC</key>
	<dict>
		<key>stall_force</key>
		<string>Force at which speed reaches zero (must be &gt; 0)</string>
		<key>unloaded_speed</key>
		<string>Speed of the motor when its load is zero. A positive value specifies a plus-end directed motor. A negative value specifies a minus-end directed motor.</string>
		<key>limit_speed</key>
		<string>If true, the speed is limited to the range [0, 2*unloaded_speed]. With ( limit_speed = 1 ), a plus-end directed motor will never move towards the minus-end, and will not exceed 2x its unloaded speed. For a minus-end directed motor, the permitted range is [2*unloaded_speed, 0], thus also excluding backward steps and excessive speed.</string>
	</dict>
</dict>
</plist>
